<div class="extension-macrozilla-dialog-content">
    <div class="extension-macrozilla-dialog-title">New variable</div>
    <div>
        <label>Name:</label>
        <input type="text" id="extension-macrozilla-variables-create-name" />
        <label>Datatype:</label>
        <select id="extension-macrozilla-variables-create-datatype" class="new-thing-type">
            <option value="number">number</option>
            <option value="boolean">true/false</option>
            <option value="string">text</option>
            <option disabled>thing</option>
        </select>
        <label>Value:</label>
        <input type="number" id="extension-macrozilla-variables-create-value" value="0" />
    </div>
    <button class="text-button" id="extension-macrozilla-variables-create-submit">Add variable</button>
</div>