
<div id='macrotoolbar'>
    <button id='savemacro' title="Save Macro"></button>
    <h1></h1>
    <button id="editor-back-button"></button>
</div>   
<button id='playmacro' title="Run Macro">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="512" height="512" viewBox="0 0 512 512">
        <g>
        </g>
            <path d="M152.443 136.417l207.114 119.573-207.114 119.593z" fill="#ffffff"/>
        </svg>
</button>
<div id='programarea'>
    <textarea></textarea>
</div>