<div id="extension-macrozilla-container">
    <div id="extension-macrozilla-navbar">
        <ul>
            <a href="#macros"><li>Macros</li></a>
            <a href="#rules"><li>Rules</li></a>
            <a href="#subroutines"><li>Subroutines</li></a>
            <a href="#variables"><li>Variables</li></a>
        </ul>
    </div>
    <div id="extension-macrozilla-content">
    </div>
</div>
<div id="extension-macrozilla-dialog" class="dialog" style="display: none;">
</div>
<button id="extension-macrozilla-back" class="extension-macrozilla-back back-button icon-button" style="display: none;"></button>
<button id="extension-macrozilla-create" class="extension-macrozilla-create icon-button" style="display: none;"></button>