<div id="extension-macrozilla-macro">
    <div id="extension-macrozilla-macro-left">
        <input type="text" id="extension-macrozilla-macro-name" placeholder="Name">
        <textarea rows="5" cols="60" id="extension-macrozilla-macro-description" placeholder="Description"></textarea>
        <select id="extension-macrozilla-macro-description" class="new-thing-type">
            <option value="rule">Rule</option>
            <option value="subroutine" disabled>Subroutine</option>
        </select>
        <div id="extension-macrozilla-macro-triggers">
            <button id="extension-macrozilla-macro-triggers-create" class="extension-macrozilla-create icon-button">+</button>
        </div>
        <div id="extension-macrozilla-macro-conditions">
            <button id="extension-macrozilla-macro-conditions-create" class="extension-macrozilla-create icon-button">+</button>
        </div>
    </div>
    <div id="extension-macrozilla-macro-right">
        <div id="extension-macrozilla-macro-actions">
            <button id="extension-macrozilla-macro-actions-create" class="extension-macrozilla-create icon-button">+</button>
        </div>
    </div>
</div>
<button id="extension-macrozilla-macro-save" class="text-button">Save</button>