<div class='process'>
    <div class='block' data-block-type='trigger'>
        <div class='triggerlist'>
            <div class='chip' data-trigger-type="clock"><span>Time change</span></div>
            <div class='sep'></div>
            <div class='chip' data-trigger-type="button"><span>Button press</span></div>
        </div>
    </div>
    <div class='block' data-block-type='conditions'>
        <div class='triggerlist'>
            <div class='chip'><span>it > 5</span></div>
            <div class='sep'></div>
            <div class='chip'><span>mode == "DAB"</span></div>
            <div class='sep'></div>
            <div class='chip'><span>it < 10</span></div>
        </div>
    </div>
    <div class='block' data-block-type='comment'>
        Dies ist ein Kommentar.
    </div>
    <div class='block' data-block-type='action'></div>
    <div class='block' data-block-type='action'></div>
    <div class='block' data-block-type='comment'>
        Noch ein Kommentar!
    </div>
    <div class='block' data-block-type='action'></div>
    
    <div class='block' data-block-type='end'></div>
</div>
