#main-menu #extension-macrozilla-menu-item {
    background-image: url(/extensions/macrozilla/static/images/menu-icon-macros.svg);
}

#main-menu #extension-macrozilla-variables-menu-item {
    background-image: url(/extensions/macrozilla/static/images/menu-icon-variables.svg);
}

#extension-macrozilla-view.selected{
    display: flex;
    flex-direction: row;
    top: 10rem;
    height: calc(100% - 10rem);
    overflow-y: auto;
}

#extension-macrozilla-variables-view.selected{
    display: flex;
    flex-direction: row;
    top: 10rem;
    height: calc(100% - 10rem);
    overflow-y: auto;
}

#macrozilla-oops{
    top: 40%;
    position: relative;
    width: 50%;
    color: white;
    text-align: center;
}

#macrozilla-oops::before {
    position: absolute;
    content: "Oops!";
    font-size: 30px;
    width: 100%;
    font-weight: bold;
}

#macrozilla-oops::after {
    top: 40px;
    content: "Something went wrong...";
    font-size: 20px;
    position: absolute;
    width: 100%;
}

.macrozilla-config-button {
    margin: 0.5rem auto;
    font-size: 1.6rem;
    background-color: #597285;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    color: #fff;
}