<button id="variableeditor-back-button"></button>
<div class="macrozilla-select-datatype">
    <li value='null'>none</li>
    <li value='boolean'>true/false</li>
    <li value='number'>number</li>
    <li value='string'>text</li>
</div>
<div class="macrozilla-variable-editor">
    <h2>Value:</h2>
    <div name='null' style='display:none'>none</div>
    <input type='checkbox' name='boolean' style='display:none' />
    <input type='number' name='number' style='display:none' />
    <input type='text' name='string' style='display:none' />
</div>