name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:

  create-release:
    runs-on: ubuntu-latest
    steps:
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - run: echo "UPLOAD_URL=${{ steps.create_release.outputs.upload_url }}" >> $GITHUB_ENV
    - run: echo "${{ steps.create_release.outputs.upload_url }}" > upload_url
    - name: Upload upload_url
      uses: actions/upload-artifact@v1
      with:
        name: upload_url
        path: upload_url

  build:
    needs: create-release
    strategy:
      matrix:
        platform: [
          'linux-arm',
          'linux-arm64',
          'linux-x64',
          'darwin-x64',
        ]
        pair: [
          'node:8',
          'node:10',
          'node:12',
          'node:14',
        ]
        include:
          - platform: 'linux-arm'
            host-os: 'ubuntu-latest'
          - platform: 'linux-arm64'
            host-os: 'ubuntu-latest'
          - platform: 'linux-x64'
            host-os: 'ubuntu-latest'
          - platform: 'darwin-x64'
            host-os: 'macos-latest'
          - pair: 'node:8'
            language: 'node'
            version: '8'
          - pair: 'node:10'
            language: 'node'
            version: '10'
          - pair: 'node:12'
            language: 'node'
            version: '12'
          - pair: 'node:14'
            language: 'node'
            version: '14'

    runs-on: ${{ matrix.host-os }}

    steps:
    - name: Download upload_url
      uses: actions/download-artifact@v1
      with:
        name: upload_url
    - name: Set upload_url env var
      run: cat upload_url/upload_url
    - name: Set env
      run: echo "RELEASE_VERSION=$(echo ${GITHUB_REF:11})" >> $GITHUB_ENV
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.version }}
    - name: Build adapter
      run: |
        ./build.sh "${{ matrix.platform }}" "${{ matrix.language }}" "${{ matrix.version }}"
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ env.UPLOAD_URL }}
        asset_path: macrozilla-${{ env.RELEASE_VERSION }}-${{ matrix.platform }}-v${{ matrix.version }}.tgz
        asset_name: macrozilla-${{ env.RELEASE_VERSION }}-${{ matrix.platform }}-v${{ matrix.version }}.tgz
        asset_content_type: application/zip
    - name: Upload Release Asset Checksum
      id: upload-release-asset-checksum
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ env.UPLOAD_URL }}
        asset_path: macrozilla-${{ env.RELEASE_VERSION }}-${{ matrix.platform }}-v${{ matrix.version }}.tgz.sha256sum
        asset_name: macrozilla-${{ env.RELEASE_VERSION }}-${{ matrix.platform }}-v${{ matrix.version }}.tgz.sha256sum
        asset_content_type: text/plain

  publish :
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download upload_url
      uses: actions/download-artifact@v1
      with:
        name: upload_url
    - name: Set upload_url env var
      run: cat upload_url/upload_url
    - name: Set env
      run: echo "RELEASE_VERSION=$(echo ${GITHUB_REF:11})" >> $GITHUB_ENV
    - uses: actions/checkout@v2
    - name: Download Checksum for linux-arm-v8
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm-v8.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-arm64-v8
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm64-v8.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-x64-v8
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-x64-v8.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for darwin-x64-v8
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-darwin-x64-v8.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-arm-v10
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm-v10.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-arm64-v10
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm64-v10.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-x64-v10
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-x64-v10.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for darwin-x64-v10
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-darwin-x64-v10.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-arm-v12
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm-v12.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-arm64-v12
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm64-v12.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-x64-v12
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-x64-v12.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for darwin-x64-v12
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-darwin-x64-v12.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-arm-v14
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm-v14.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-arm64-v14
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-arm64-v14.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for linux-x64-v14
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-linux-x64-v14.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Download Checksum for darwin-x64-v14
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: "latest"
        file: "macrozilla-${{ env.RELEASE_VERSION }}-darwin-x64-v14.tgz.sha256sum"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Use python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'
    - name: Create macrozilla.json
      run: python publish.py "${{ env.RELEASE_VERSION }}"
    - name: Upload macrozilla.json
      id: upload-macrozilla-json
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ env.UPLOAD_URL }}
        asset_path: macrozilla.json
        asset_name: macrozilla.json
        asset_content_type: text/plain
